
#roja{
        /*text-align:centre;*/
background-color:rgb(224, 32, 32);
color: rgb(255, 0, 128);
}
 .rojat{
        background-color:yellow rgb(25, 13, 194);
        padding: 10x; 
        margin35px;
 }
     
